body {
    padding: 0;
    margin: 0;
    font-family: 'Josefin Sans', sans-serif;
    background-color: #161722;
}

textarea:focus, input:focus {
    outline: none;
}

input[type="text"] {
    color: #ffffff;
    font-size: 18px;
    background-color: #25273c;
}

.head {
    width: 100%;
    position: absolute;
    left: 0;
    top: 0;
    z-index: -1;
}

.head-background {
    width: 100%;
}

.container {
    margin-top: 2.5vw;
}

.header {
    width: 29%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 0.99fr 0.01fr;
    grid-template-rows: 0.25fr;
    gap: 0 0;
    grid-template-areas:
    "header-title header-toggle-icon";
}

.header-title {
    grid-area: header-title;
    font-size: 40px;
    font-weight: 700;
    letter-spacing: 17px;
    display: inline-block;
    color: #ffffff;
    margin-right: 8vw;
}

.header-toggle_icon {
    grid-area: header-toggle-icon;
    width: 28px;
    padding-top: 32px;
    cursor: pointer;
}

.checklist_adder {
    display: grid;
    grid-template-columns: 0.1fr 0.9fr;
    grid-template-rows: 0.1fr;
    gap: 0 0;
    grid-auto-flow: row;
    grid-template-areas:
    "checklist_adder-icon -checklist_adder-form";
    width: 29%;
    height: 4.2rem;
    margin: 1vw auto 0 auto;
    background-color: #25273c;
    border-radius: 5px;
}

.checklist_adder-icon {
    grid-area: checklist_adder-icon;
    display: flex;
    justify-content: center;
    align-items: center;
}

.checklist_adder-icon-icon_border {
    width: 22px;
    height: 22px;
    border: 1px solid #393a4c;
    border-radius: 50%;
}

.checklist_adder-form {
    grid-area: -checklist_adder-form;
}

.checklist_adder-form-label{

}

.checklist_adder-form-label-input {
    border: none;
    width: 87%;
    height: 4rem;
    color: #616161;
}

.checklist_adder-form-label-input::-webkit-input-placeholder {
    font-family: 'Josefin Sans', sans-serif;
}

.checklist {

}

.checklist-list {
    width: 29%;
    min-height: 16rem;
    margin: 1.5vw auto 0 auto;
    border-radius: 5px 5px 0 0;
    padding: 0;
    background-color: #25273c;
}

.checklist-list-ul {
    margin: 0;
    padding: 0 0 1vw 0;
    background-color: #25273c;
}

.checklist-list-ul-li{
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style-type: none;
    padding: 1vw 0.75vw;
    border-bottom: 1px solid #e4e5f1;
    cursor: grab;

}
.checklist-list-ul-li:hover .checklist-list-ul-li-remove{
    display: block;
}
/*
.checklist-list-ul-li:hover .checklist-list-ul-li-statue {
    border: solid 1px transparent;
    background-image: linear-gradient(#25273c, #25273c),
    linear-gradient(to right, #57ddff, #c058f3);
    background-origin: border-box;
    background-clip: content-box, border-box;
    width: 22px;
    height: 22px;
}
 */
.checklist-list-ul-li-statue{
    border: 1px solid #e4e5f1;
    width: 22px;
    height: 22px;
    border-radius: 50%;
}

.checklist-list-ul-li-txt{
    flex-grow:3;
    padding: 0 0.75vw;
    color: #616161;
}
.checklist-list-ul-li-remove{
    cursor: pointer;
    display: none;
}
.noHover{
    pointer-events: none;
}

.line-maker {
    text-decoration: line-through;
}
.circleFill{
    background: url(../images/icon-check.svg),linear-gradient(135deg,#57ddff,#c058f3);
    background-repeat: no-repeat;
    background-position: 50%;
}

.checklist-controlBoard {
    display: grid;
    grid-template-columns: 0.9fr 1fr 0.9fr;
    grid-template-rows: 0.1fr;
    gap: 0 0;
    grid-template-areas:
    "checklist-controlBoard-remaining_items checklist-controlBoard-base_orders checklist-controlBoard-clear_order";
    width: 27.5%;
    height: 3rem;
    margin: 0 auto 0 auto;
    background-color: #25273c;
    border-radius: 0 0 5px 5px ;
    padding: 0 0.8vw;
}
.checklist-controlBoard-remaining_items {
    grid-area: checklist-controlBoard-remaining_items;
    font-size: 14px;
    color: #777a92;
}
.checklist-controlBoard-base_orders{
    grid-area: checklist-controlBoard-base_orders;
}

.checklist-controlBoard-base_orders-all_order {
    font-size: 14px;
    font-weight: 600;
    cursor: pointer;
    color: #3a7cfd;
    margin-right: 1rem;

}
.checklist-controlBoard-base_orders-active_order {
    font-size: 14px;
    font-weight: 600;
    color: #777a92;
    cursor: pointer;
}
.checklist-controlBoard-base_orders-completed_order {
    font-size: 14px;
    font-weight: 600;
    color: #777a92;
    cursor: pointer;
    margin-left: 1rem;
}
.checklist-controlBoard-base_orders-all_order:hover,.checklist-controlBoard-base_orders-active_order:hover,.checklist-controlBoard-base_orders-completed_order:hover,.checklist-controlBoard-clear_order:hover{
    color: #ffffff;
}
.checklist-controlBoard-clear_order {
    grid-area: checklist-controlBoard-clear_order;
    text-align: right;
    font-size: 13.3px;
    color: #777a92;
    cursor: pointer;
}

.instruction{
    width: 27.5%;
    text-align: center;
    margin: 2vw auto 0 auto;
    padding: 0 0.8vw;
    color: #777a92;
}

.instruction-first_one{

}

.footer {
    color: #777a92;
    position: fixed;
    padding: 10px;
    text-align: center;
    font-size: 13px;
    width: 100%;
    bottom: 0;
    box-shadow: 0 -5px 5px rgba(189, 189, 189, 0.02);
}

.footer-link {
    color: #3a7bfd;
}
@media only screen and (max-width: 425px) {
    .header {
        width: 90%;
    }
    .checklist_adder {
        width: 90%;
    }
    .checklist-list {
        width: 90%;
    }
    .checklist-controlBoard {
        width: 88.5%;
    }
    .instruction {
        width: 88.5%;
    }
    .footer {
        position: sticky;
        bottom: 0;
        width: 100%;
        height: 5%;
        font-size: 6px;
        padding: 2px 0;
    }
}
